@import url("https://fonts.googleapis.com/css?family=Merriweather:700i|Open+Sans|Roboto");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "open sans";
}
.container {
  max-width: 1158px;
  width: 100%;
  margin: 0 auto;
  /*margin: 0 0 0 315px;*/
}
.container-fluid {
  /*max-width: 1915;*/
  width: 100%;
  margin: 0;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
.arrow_mark {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 5px;
  position: relative;
  text-decoration: none;
}

.header {
  /*max-width: 1923px;*/
  width: 100%;
  /*min-height: 961px;*/
  /*max-height: 100%;*/
  background: url(../images/IMG-header.png) no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 951px;
  margin-bottom: 113px;
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
}
.logo {
  display: flex;
  padding-top: 56px;
  padding-left: 316px;
}
.logo p {
  color: #ffffff;
  font-family: "Merriweather - Heavy Italic";
  font-size: 21px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.24px;
  padding: 10px;
  margin: 0;
}
/* HEADER CONTENT*/
.header-content {
  /*height: 70%;*/
  /*min-height: 760px;*/
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  position: relative;
  align-items: flex-start;
}
.vertical-text {
  display: inline-flex;
  flex-direction: row;
  text-align: center;
  transform: rotate(-90deg);
  position: absolute;
  /*top: 417px;
  left: -8px;*/
  p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    margin: 0;
    padding-right: 13px;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
}
.horizontal-text {
  width: 438px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: "Open Sans";
  overflow: hidden;
  margin-left: 318px;
  position: absolute;
  top: 314px;
  left: 1px;
  h1 {
    height: 61px;
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 300;
  }
  p {
    height: 37px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
  }
}
.header-picture {
  /*width: 923px;
  height: 948px;*/
  margin: 0;
  position: absolute;
  right: 71px;
  /*left: 728px;*/
  top: 164px;
  .iphone {
  }
}

/*Second section content*/

.second-section-content {
  /*margin-left: 315px;*/
  /*display: flex;
  flex-direction: column;*/
  h2 {
    color: #222626;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 113px;
    margin-bottom: 30px;
  }
  .text-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .text-left-column {
      width: 569px;
      height: 280px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 27px;
      color: #959595;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      overflow: hidden;
      div {
        margin-bottom: 20px;
      }
    }
    .text-right-column {
      display: flex;
      flex-direction: column;
      padding-top: 98px;
      color: #959595;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      width: 574px;
      div {
        margin-bottom: 20px;
      }
    }
  }
}
/*Third section boxes*/

.third-section-content {
  /*margin-left: 315px;*/
  width: 89%;
  margin: 0 0 0 auto;

  .boxes-first-row {
    display: flex;
    flex-direction: row;
    max-height: 278px;
    div {
      padding: 51px 43px 59px 43px;
      h3 {
        margin: 0;
      }
      p {
        max-height: 62px;
        overflow: hidden;
        margin: 24px 0 40px 0;
      }
      p + p {
        display: inline-block;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        /*line-height: 24px;*/
        margin: 0;
      }
    }
  }

  .box-1 {
    background-color: #f5989d;
  }
  .box-2 {
    background-color: #615f7d;
  }
  .box-3 {
    background: url(../images/box-3.jpg) no-repeat;
  }
  .box-4 {
    background-color: #bd8cbf;
  }

  .boxes-second-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 278px;
    margin-bottom: 97px;
    div {
      padding: 51px 43px 59px 43px;
      h3 {
        margin: 0;
      }
      p {
        max-height: 61px;
        overflow: hidden;
      }
      p + p {
        display: inline-block;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        /*line-height: 24px;*/
        margin: 0;
        /*div {
        margin: 51px 43px 59px 43px;
      }*/
      }
    }
  }
  .box-5 {
    flex-basis: 50%;
    background: url(../images/box-5.jpg) no-repeat;
  }
  .box-6 {
    flex: 1;
    background-color: #82ca9c;
  }
  .box-7 {
    flex: 1;
    background: url(../images/box-7.jpg) no-repeat;
  }
  /*.arrow_mark {
    width: 14px;
  height: 5px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 5px;
  position: relative;
  text-decoration: none;
  }*/
}

/*fourth section styles*/
.vertical-text-position {
  position: relative;
  bottom: -44px;
}
.fourth-section-content {
  h2 {
    margin: 0 auto;
    margin-bottom: 68px;
    color: #222626;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 300;
    line-height: 24px;
  }
}
.details-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 159px;
}
.details-item {
  display: inline-block;
  margin-right: 37px;
  width: 264px;
  h5 {
    margin: 0 auto;
    margin-bottom: 28px;
    color: #67676d;
    font-family: "Open Sans - Semibold";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
  }
  p {
    height: 135px;
    overflow: hidden;
    margin: 0;
    color: #959595;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}
/*fifth section styles*/
.fifth-section {
  background: url(../images/fifth-section.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  /*width: 100%;*/
  height: 874px;
}
.fifth-section-content {
  position: relative;
  top: 454px;
  left: 329px;
  width: 28%;
  h1 {
    height: 130px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 30px;
  }
  p {
    width: 438px;
    height: 85px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    overflow: hidden;
    margin: 0;
    margin-bottom: 25px;
  }
  p + span {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    margin: 0;
  }
}
/*seventh section styles*/
.seventh-section {
  background-color: #f6f7fa;
  .seventh-section-content {
    display: flex;
    flex-direction: row;
    button {
      width: 151px;
      height: 47px;
      border-radius: 3px;
      background-color: #82ca9c;
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 13px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
      letter-spacing: 1.3px;
      display: block;
    }
    .fa-apple {
      width: 20px;
      height: 25px;
      color: #c5c5c5;
    }
    .fa-windows {
      width: 24px;
      height: 24px;
      color: #c5c5c5;
    }
  }

  .lefth-item {
    width: 570px;
    height: 380px;
    padding: 47px 94px 56px 54px;
    h5 {
      background-color: #e1e1e1;
      width: 77px;
      height: 24px;
      border-radius: 5px;
    }
  }
  .right-item {
    width: 570px;
    height: 380px;
    padding: 47px 94px 56px 54px;
    box-shadow: 0 0 62px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    h5 {
      width: 110px;
      height: 24px;
      border-radius: 5px;
      background-color: #bd8cbf;
    }
  }
}
/*styles for footer*/
.footer {
  background-color: #192431;
  color: #f6f7fa;
  font-size: 13px;
  height: 600px;
  .footer-content {
    display: flex;
    flex-direction: row;
    padding-top: 130px;
  }
  .footer-left-items {
    width: 566px;
    padding: 0 30px;
    margin-right: 105px;
    h5 {
      margin: 0 0 29px 3px;
    }
    p {
      height: 61px;
      margin: 0;
      margin-bottom: 73px;
    }
    .footer-list {
      display: flex;
      flex-direction: row;
      div ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-right: 97px;
      }
    }
    .footer-navigation-list-link {
      text-decoration: none;
      color: #f6f7fa;
    }
  }
  .footer-right-items {
    .email-form {
      display: flex;
      flex-direction: row;

      .input-email-form {
        max-width: 400px;
        background-color: #fff;
        display: inline-block;
        line-height: 58px;
        height: 58px;
        border-radius: 2% 0 0 2%;
        input {
          margin: 0;
          padding: 0;
          border: none;
        }
      }
      .email-form-button {
        border-radius: 0 2% 2% 0;
      }
    }
  }
}
